*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  margin: auto;
  inline-size: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  cursor: pointer;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-width: 1px 0;
  color: #fff;
  border-color: #fff;
  background-color: #1b1919;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-weight: 400;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list:focus {
  outline: none;
}

.search-form__checkbox-list:focus-visible {
  outline: 1px solid #fff;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  block-size: 100%;
  inline-size: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  block-size: 34px;
  inline-size: 194px;
  align-self: end;
}

.more-button {
  block-size: 34px;
  inline-size: 100%;
  margin-top: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  inline-size: 100%;
  block-size: 100%;
  gap: 16px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-description-container {
  flex-grow: 1;
  inline-size: 103px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.content__video-card-thumbnail {
  block-size: 103px;
  min-inline-size: 194px;
  object-fit: cover;
  object-position: center;
}
